USE [master]
GO
/****** Object:  Database [LapShop]    Script Date: 7/12/2025 4:07:16 AM ******/
CREATE DATABASE [LapShop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LapShop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LapShop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LapShop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LapShop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LapShop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LapShop]
GO
/****** Object:  UserDefinedFunction [dbo].[PriceWithVat]    Script Date: 7/12/2025 4:07:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE FUNCTION [dbo].[PriceWithVat]
(
	@Price decimal(8,2)
)
RETURNS decimal(8,2)
AS
BEGIN
declare @PriceWithVat decimal(8,2)
set @PriceWithVat=((@Price*14)/100)+@Price

if(@PriceWithVat<0)
begin
set @PriceWithVat=0
end

return @PriceWithVat
END

GO
/****** Object:  UserDefinedFunction [dbo].[SalesPofit]    Script Date: 7/12/2025 4:07:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[SalesPofit]
(
@ItemId int
)
returns decimal(8,2)
as
begin
declare @SalesPrice decimal(8,2)
declare @PurchasePrice decimal(8,2)

select @SalesPrice=SalesPrice,@PurchasePrice=PurchasePrice
from TbItems
where ItemId=@ItemId
return @PurchasePrice-@SalesPrice
end
GO
/****** Object:  Table [dbo].[TbCategories]    Script Date: 7/12/2025 4:07:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbCategories](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[CreatedBy] [nvarchar](max) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CurrentState] [int] NOT NULL,
	[ImageName] [nvarchar](max) NOT NULL,
	[ShowInHomePage] [bit] NOT NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[UpdatedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_TbCategories] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbItems]    Script Date: 7/12/2025 4:07:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbItems](
	[ItemId] [int] IDENTITY(1,1) NOT NULL,
	[ItemName] [nvarchar](100) NOT NULL,
	[SalesPrice] [decimal](8, 2) NOT NULL,
	[PurchasePrice] [decimal](8, 2) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[ImageName] [nvarchar](200) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NOT NULL,
	[CurrentState] [int] NOT NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[Description] [nvarchar](max) NULL,
	[Gpu] [nvarchar](max) NULL,
	[HardDisk] [nvarchar](max) NULL,
	[ItemTypeId] [int] NULL,
	[Processor] [nvarchar](max) NULL,
	[RamSize] [int] NULL,
	[ScreenReslution] [nvarchar](max) NULL,
	[ScreenSize] [nvarchar](max) NULL,
	[Weight] [nvarchar](max) NULL,
	[OsId] [int] NULL,
 CONSTRAINT [PK_TbItems] PRIMARY KEY CLUSTERED 
(
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbSalesInvoiceItems]    Script Date: 7/12/2025 4:07:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbSalesInvoiceItems](
	[InvoiceItemId] [int] IDENTITY(1,1) NOT NULL,
	[ItemId] [int] NOT NULL,
	[InvoiceId] [int] NOT NULL,
	[Qty] [float] NOT NULL,
	[InvoicePrice] [decimal](8, 2) NOT NULL,
	[Notes] [nvarchar](max) NULL,
 CONSTRAINT [PK_TbSalesInvoiceItems] PRIMARY KEY CLUSTERED 
(
	[InvoiceItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[VwItemsOutOfInvoices]    Script Date: 7/12/2025 4:07:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[VwItemsOutOfInvoices]
as
select i.ItemName,c.CategoryName,si.InvoicePrice,i.PurchasePrice
from  TbCategories as c left join  TbItems as i
on i.CategoryId=c.CategoryId
left join TbSalesInvoiceItems as si
on si.ItemId=i.ItemId
where si.InvoicePrice is null
GO
/****** Object:  View [dbo].[VwItemCategories]    Script Date: 7/12/2025 4:07:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VwItemCategories]
AS
SELECT dbo.TbItems.ItemName, dbo.TbItems.SalesPrice, dbo.TbCategories.CategoryName, dbo.TbItems.PurchasePrice, dbo.TbItems.ImageName, dbo.TbItems.ItemId, dbo.TbCategories.CategoryId
FROM   dbo.TbItems INNER JOIN
             dbo.TbCategories ON dbo.TbItems.CategoryId = dbo.TbCategories.CategoryId
GO
/****** Object:  UserDefinedFunction [dbo].[GetItemsByName]    Script Date: 7/12/2025 4:07:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[GetItemsByName]
(	
	@ItemName nvarchar(200)
)
RETURNS TABLE 
AS

RETURN 
(
select * from TbItems
where ItemName like '%'+@ItemName+'%'
)
GO
/****** Object:  Table [dbo].[TbSalesInvoices]    Script Date: 7/12/2025 4:07:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbSalesInvoices](
	[InvoiceId] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceDate] [datetime] NOT NULL,
	[DelivryDate] [datetime] NOT NULL,
	[DelivryManId] [int] NULL,
	[Notes] [nvarchar](max) NULL,
	[CustomerId] [uniqueidentifier] NOT NULL,
	[CreatedBy] [nvarchar](max) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CurrentState] [int] NOT NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[UpdatedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_TbSalesInvoices] PRIMARY KEY CLUSTERED 
(
	[InvoiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 7/12/2025 4:07:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[VwSalesInvoices]    Script Date: 7/12/2025 4:07:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[VwSalesInvoices]
            as
            SELECT dbo.AspNetUsers.FirstName, dbo.AspNetUsers.LastName, dbo.TbSalesInvoices.InvoiceId,
            dbo.TbSalesInvoices.InvoiceDate, dbo.TbSalesInvoices.DelivryDate, dbo.TbSalesInvoices.DelivryManId,
            dbo.TbSalesInvoices.Notes, dbo.TbSalesInvoices.CustomerId
            FROM   dbo.TbSalesInvoices INNER JOIN
            dbo.AspNetUsers ON dbo.TbSalesInvoices.CustomerId = dbo.AspNetUsers.Id
GO
/****** Object:  Table [dbo].[TbItemTypes]    Script Date: 7/12/2025 4:07:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbItemTypes](
	[ItemTypeId] [int] IDENTITY(1,1) NOT NULL,
	[ItemTypeName] [nvarchar](100) NOT NULL,
	[ImageName] [nvarchar](max) NULL,
	[CurrentState] [int] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_TbItemTypes] PRIMARY KEY CLUSTERED 
(
	[ItemTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbOs]    Script Date: 7/12/2025 4:07:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbOs](
	[OsId] [int] IDENTITY(1,1) NOT NULL,
	[OsName] [nvarchar](100) NOT NULL,
	[ImageName] [nvarchar](max) NOT NULL,
	[ShowInHomePage] [bit] NOT NULL,
	[CurrentState] [int] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_TbOs] PRIMARY KEY CLUSTERED 
(
	[OsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[VwItems]    Script Date: 7/12/2025 4:07:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create view [dbo].[VwItems] as SELECT dbo.TbItems.ItemName, dbo.TbItems.PurchasePrice, dbo.TbItems.SalesPrice, dbo.TbItems.CategoryId, dbo.TbItems.ImageName, dbo.TbItems.CreatedDate, dbo.TbItems.CreatedBy, dbo.TbItems.CurrentState, dbo.TbItems.UpdatedBy, dbo.TbItems.UpdatedDate, 
             dbo.TbItems.Description, dbo.TbItems.Gpu, dbo.TbItems.HardDisk, dbo.TbItems.ItemTypeId, dbo.TbItems.Processor, dbo.TbItems.RamSize, dbo.TbItems.ScreenReslution, dbo.TbItems.ScreenSize, dbo.TbItems.Weight, dbo.TbItems.OsId, dbo.TbCategories.CategoryName, 
             dbo.TbItemTypes.ItemTypeName, dbo.TbOs.OsName, dbo.TbItems.ItemId
             FROM   dbo.TbItems INNER JOIN
             dbo.TbCategories ON dbo.TbItems.CategoryId = dbo.TbCategories.CategoryId INNER JOIN
             dbo.TbItemTypes ON dbo.TbItems.ItemTypeId = dbo.TbItemTypes.ItemTypeId INNER JOIN
             dbo.TbOs ON dbo.TbItems.OsId = dbo.TbOs.OsId
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 7/12/2025 4:07:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 7/12/2025 4:07:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 7/12/2025 4:07:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 7/12/2025 4:07:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 7/12/2025 4:07:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 7/12/2025 4:07:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 7/12/2025 4:07:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbBusinessInfo]    Script Date: 7/12/2025 4:07:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbBusinessInfo](
	[BusinessInfoId] [int] IDENTITY(1,1) NOT NULL,
	[BusinessCardNumber] [nvarchar](20) NULL,
	[OfficePhone] [nvarchar](max) NULL,
	[Budget] [decimal](8, 2) NOT NULL,
	[CutomerId] [int] NOT NULL,
 CONSTRAINT [PK_TbBusinessInfo] PRIMARY KEY CLUSTERED 
(
	[BusinessInfoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbCashTransacion]    Script Date: 7/12/2025 4:07:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbCashTransacion](
	[CashTransactionId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[CashDate] [datetime] NOT NULL,
	[CashValue] [decimal](8, 2) NOT NULL,
 CONSTRAINT [PK_TbCashTransacion] PRIMARY KEY CLUSTERED 
(
	[CashTransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbCustomerItems]    Script Date: 7/12/2025 4:07:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbCustomerItems](
	[ItemId] [int] NOT NULL,
	[CustomerId] [int] NOT NULL,
 CONSTRAINT [PK_TbCustomerItems] PRIMARY KEY CLUSTERED 
(
	[ItemId] ASC,
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbCustomers]    Script Date: 7/12/2025 4:07:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbCustomers](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_TbCustomers] PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbItemDiscount]    Script Date: 7/12/2025 4:07:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbItemDiscount](
	[ItemDiscountId] [int] IDENTITY(1,1) NOT NULL,
	[ItemId] [int] NOT NULL,
	[DiscountPercent] [decimal](18, 2) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_TbItemDiscount] PRIMARY KEY CLUSTERED 
(
	[ItemDiscountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbItemImages]    Script Date: 7/12/2025 4:07:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbItemImages](
	[ImageId] [int] IDENTITY(1,1) NOT NULL,
	[ImageName] [nvarchar](200) NOT NULL,
	[ItemId] [int] NOT NULL,
 CONSTRAINT [PK_TbItemImages] PRIMARY KEY CLUSTERED 
(
	[ImageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbPurchaseInvoiceItems]    Script Date: 7/12/2025 4:07:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbPurchaseInvoiceItems](
	[InvoiceItemId] [int] NOT NULL,
	[ItemId] [int] NOT NULL,
	[InvoiceId] [int] NOT NULL,
	[Qty] [float] NOT NULL,
	[InvoicePrice] [decimal](8, 4) NOT NULL,
	[Notes] [nvarchar](max) NULL,
 CONSTRAINT [PK_TbPurchaseInvoiceItems] PRIMARY KEY CLUSTERED 
(
	[InvoiceItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbPurchaseInvoices]    Script Date: 7/12/2025 4:07:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbPurchaseInvoices](
	[InvoiceId] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceDate] [datetime] NOT NULL,
	[SupplierId] [int] NOT NULL,
	[Notes] [nvarchar](max) NULL,
 CONSTRAINT [PK_TbPurchaseInvoices] PRIMARY KEY CLUSTERED 
(
	[InvoiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBSettings]    Script Date: 7/12/2025 4:07:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBSettings](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[webSiteName] [nvarchar](100) NOT NULL,
	[Logo] [nvarchar](max) NOT NULL,
	[WebSiteDescription] [nvarchar](500) NOT NULL,
	[FaceBookLink] [nvarchar](max) NOT NULL,
	[instegramLink] [nvarchar](max) NOT NULL,
	[YoutubeLink] [nvarchar](max) NOT NULL,
	[WhatsAppLink] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_TBSettings] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbSlider]    Script Date: 7/12/2025 4:07:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbSlider](
	[SliderId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NULL,
	[Description] [nvarchar](500) NULL,
	[ImageName] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_TbSlider] PRIMARY KEY CLUSTERED 
(
	[SliderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbSuppliers]    Script Date: 7/12/2025 4:07:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbSuppliers](
	[SupplierId] [int] IDENTITY(1,1) NOT NULL,
	[SupplierName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_TbSupplier] PRIMARY KEY CLUSTERED 
(
	[SupplierId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 7/12/2025 4:07:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 7/12/2025 4:07:16 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 7/12/2025 4:07:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 7/12/2025 4:07:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 7/12/2025 4:07:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 7/12/2025 4:07:16 AM ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 7/12/2025 4:07:16 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TbBusinessInfo_CutomerId]    Script Date: 7/12/2025 4:07:16 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_TbBusinessInfo_CutomerId] ON [dbo].[TbBusinessInfo]
(
	[CutomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TbCustomerItems_CustomerId]    Script Date: 7/12/2025 4:07:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_TbCustomerItems_CustomerId] ON [dbo].[TbCustomerItems]
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TbItemDiscount_ItemId]    Script Date: 7/12/2025 4:07:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_TbItemDiscount_ItemId] ON [dbo].[TbItemDiscount]
(
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TbItems_ItemTypeId]    Script Date: 7/12/2025 4:07:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_TbItems_ItemTypeId] ON [dbo].[TbItems]
(
	[ItemTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TbItems_OsId]    Script Date: 7/12/2025 4:07:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_TbItems_OsId] ON [dbo].[TbItems]
(
	[OsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TbCategories] ADD  DEFAULT (N'') FOR [CreatedBy]
GO
ALTER TABLE [dbo].[TbCategories] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [CreatedDate]
GO
ALTER TABLE [dbo].[TbCategories] ADD  DEFAULT ((0)) FOR [CurrentState]
GO
ALTER TABLE [dbo].[TbCategories] ADD  DEFAULT (N'') FOR [ImageName]
GO
ALTER TABLE [dbo].[TbCategories] ADD  DEFAULT (CONVERT([bit],(0))) FOR [ShowInHomePage]
GO
ALTER TABLE [dbo].[TbItems] ADD  DEFAULT ('2020-09-20T00:00:00.0000000') FOR [CreatedDate]
GO
ALTER TABLE [dbo].[TbItems] ADD  DEFAULT (N'') FOR [CreatedBy]
GO
ALTER TABLE [dbo].[TbItems] ADD  DEFAULT ((0)) FOR [CurrentState]
GO
ALTER TABLE [dbo].[TbItems] ADD  DEFAULT ((0)) FOR [ItemTypeId]
GO
ALTER TABLE [dbo].[TbItems] ADD  DEFAULT ((0)) FOR [OsId]
GO
ALTER TABLE [dbo].[TbPurchaseInvoiceItems] ADD  CONSTRAINT [DF_TbPurchaseInvoiceItems_Qty]  DEFAULT ((1)) FOR [Qty]
GO
ALTER TABLE [dbo].[TbPurchaseInvoiceItems] ADD  CONSTRAINT [DF_TbPurchaseInvoiceItems_InvoicePrice]  DEFAULT ((0)) FOR [InvoicePrice]
GO
ALTER TABLE [dbo].[TbPurchaseInvoices] ADD  CONSTRAINT [DF_TbPurchaseInvoices_InvoiceDate]  DEFAULT (getdate()) FOR [InvoiceDate]
GO
ALTER TABLE [dbo].[TbSalesInvoiceItems] ADD  CONSTRAINT [DF_TbSalesInvoiceItems_Qty]  DEFAULT ((1)) FOR [Qty]
GO
ALTER TABLE [dbo].[TbSalesInvoiceItems] ADD  CONSTRAINT [DF_TbSalesInvoiceItems_InvoicePrice]  DEFAULT ((0)) FOR [InvoicePrice]
GO
ALTER TABLE [dbo].[TbSalesInvoices] ADD  CONSTRAINT [DF_TbSalesInvoices_InvoiceDate]  DEFAULT (getdate()) FOR [InvoiceDate]
GO
ALTER TABLE [dbo].[TbSalesInvoices] ADD  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [CustomerId]
GO
ALTER TABLE [dbo].[TbSalesInvoices] ADD  DEFAULT (N'') FOR [CreatedBy]
GO
ALTER TABLE [dbo].[TbSalesInvoices] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [CreatedDate]
GO
ALTER TABLE [dbo].[TbSalesInvoices] ADD  DEFAULT ((0)) FOR [CurrentState]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[TbBusinessInfo]  WITH CHECK ADD  CONSTRAINT [FK_TbBusinessInfo_TbCustomers_CutomerId] FOREIGN KEY([CutomerId])
REFERENCES [dbo].[TbCustomers] ([CustomerId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TbBusinessInfo] CHECK CONSTRAINT [FK_TbBusinessInfo_TbCustomers_CutomerId]
GO
ALTER TABLE [dbo].[TbCustomerItems]  WITH CHECK ADD  CONSTRAINT [FK_TbCustomerItems_TbCustomers_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[TbCustomers] ([CustomerId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TbCustomerItems] CHECK CONSTRAINT [FK_TbCustomerItems_TbCustomers_CustomerId]
GO
ALTER TABLE [dbo].[TbCustomerItems]  WITH CHECK ADD  CONSTRAINT [FK_TbCustomerItems_TbItems_ItemId] FOREIGN KEY([ItemId])
REFERENCES [dbo].[TbItems] ([ItemId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TbCustomerItems] CHECK CONSTRAINT [FK_TbCustomerItems_TbItems_ItemId]
GO
ALTER TABLE [dbo].[TbItemDiscount]  WITH CHECK ADD  CONSTRAINT [FK_TbItemDiscounts_TbItems] FOREIGN KEY([ItemId])
REFERENCES [dbo].[TbItems] ([ItemId])
GO
ALTER TABLE [dbo].[TbItemDiscount] CHECK CONSTRAINT [FK_TbItemDiscounts_TbItems]
GO
ALTER TABLE [dbo].[TbItemImages]  WITH CHECK ADD  CONSTRAINT [FK_TbItemImages_TbItems] FOREIGN KEY([ItemId])
REFERENCES [dbo].[TbItems] ([ItemId])
GO
ALTER TABLE [dbo].[TbItemImages] CHECK CONSTRAINT [FK_TbItemImages_TbItems]
GO
ALTER TABLE [dbo].[TbItems]  WITH CHECK ADD  CONSTRAINT [FK_TbItems_TbCategories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[TbCategories] ([CategoryId])
GO
ALTER TABLE [dbo].[TbItems] CHECK CONSTRAINT [FK_TbItems_TbCategories]
GO
ALTER TABLE [dbo].[TbItems]  WITH CHECK ADD  CONSTRAINT [FK_TbItems_TbItemTypes] FOREIGN KEY([ItemTypeId])
REFERENCES [dbo].[TbItemTypes] ([ItemTypeId])
GO
ALTER TABLE [dbo].[TbItems] CHECK CONSTRAINT [FK_TbItems_TbItemTypes]
GO
ALTER TABLE [dbo].[TbItems]  WITH CHECK ADD  CONSTRAINT [FK_TbItems_TbOs] FOREIGN KEY([OsId])
REFERENCES [dbo].[TbOs] ([OsId])
GO
ALTER TABLE [dbo].[TbItems] CHECK CONSTRAINT [FK_TbItems_TbOs]
GO
ALTER TABLE [dbo].[TbPurchaseInvoiceItems]  WITH CHECK ADD  CONSTRAINT [FK_TbPurchaseInvoiceItems_TbItems] FOREIGN KEY([ItemId])
REFERENCES [dbo].[TbItems] ([ItemId])
GO
ALTER TABLE [dbo].[TbPurchaseInvoiceItems] CHECK CONSTRAINT [FK_TbPurchaseInvoiceItems_TbItems]
GO
ALTER TABLE [dbo].[TbPurchaseInvoiceItems]  WITH CHECK ADD  CONSTRAINT [FK_TbPurchaseInvoiceItems_TbPurchaseInvoices] FOREIGN KEY([InvoiceId])
REFERENCES [dbo].[TbPurchaseInvoices] ([InvoiceId])
GO
ALTER TABLE [dbo].[TbPurchaseInvoiceItems] CHECK CONSTRAINT [FK_TbPurchaseInvoiceItems_TbPurchaseInvoices]
GO
ALTER TABLE [dbo].[TbPurchaseInvoices]  WITH CHECK ADD  CONSTRAINT [FK_TbPurchaseInvoices_TbSuppliers] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[TbSuppliers] ([SupplierId])
GO
ALTER TABLE [dbo].[TbPurchaseInvoices] CHECK CONSTRAINT [FK_TbPurchaseInvoices_TbSuppliers]
GO
ALTER TABLE [dbo].[TbSalesInvoiceItems]  WITH CHECK ADD  CONSTRAINT [FK_TbSalesInvoiceItems_TbItems] FOREIGN KEY([ItemId])
REFERENCES [dbo].[TbItems] ([ItemId])
GO
ALTER TABLE [dbo].[TbSalesInvoiceItems] CHECK CONSTRAINT [FK_TbSalesInvoiceItems_TbItems]
GO
ALTER TABLE [dbo].[TbSalesInvoiceItems]  WITH CHECK ADD  CONSTRAINT [FK_TbSalesInvoiceItems_TbSalesInvoices] FOREIGN KEY([InvoiceId])
REFERENCES [dbo].[TbSalesInvoices] ([InvoiceId])
GO
ALTER TABLE [dbo].[TbSalesInvoiceItems] CHECK CONSTRAINT [FK_TbSalesInvoiceItems_TbSalesInvoices]
GO
/****** Object:  StoredProcedure [dbo].[SpGetInvoices]    Script Date: 7/12/2025 4:07:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SpGetInvoices]
(
@InvoiceType int
)
as

create table #Items
(
ItemId int,
ItemName nvarchar(200)
)

if(@InvoiceType=1)
begin
select * from TbSalesInvoices
declare @Count int
select @Count=count(*) from TbItems

while(@Count!=0)
begin
print @Count
set @Count=@Count-1
insert into #Items
select ItemId,ItemName
from TbItems
where ItemId=@Count
end
select * from #Items
end
else
begin
select * from TbPurchaseInvoices
end
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[41] 4[20] 2[24] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "TbItems"
            Begin Extent = 
               Top = 9
               Left = 57
               Bottom = 206
               Right = 279
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "TbCategories"
            Begin Extent = 
               Top = 0
               Left = 570
               Bottom = 143
               Right = 793
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1000
         Width = 1000
         Width = 1000
         Width = 1000
         Width = 1000
         Width = 1000
         Width = 1000
         Width = 1000
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 2580
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VwItemCategories'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VwItemCategories'
GO
USE [master]
GO
